<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.plter.swfplayerext"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="选择SWF文件"
            android:name="com.plter.swfplayerext.filebrowser.FileBrowserAty"
            android:theme="@android:style/Theme.Light"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
    </application>

</manifest>